body {
  font-family: Lora, serif;
  font-display: swap;
  font-style: normal;
  font-size: 16px;
}

.container_main {
  background-color: #604238;
  color: white;
  font-size: 24px;
}

li {
  font-size: 18px;
}

.tx {
  text-indent: 1.5em;
  font-size: 18px;
  padding: 1em 3px 5px 5px;
}

h1, h2 {
  padding-left: 25px;
}

h3 {
  font-size: 24px;
}

.badge {
  font-size: 16px;
}

.videotest {
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.videocontainer {
  display: block;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  overflow: hidden;
  /*box-shadow: 0 0 0px 0px #adddf3;*/
  margin: 13px;
}

.videocontainer > video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

